*{
    margin:0%;
    padding: 0%;
}
.container{
    width:400px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    background-color: rgb(2, 1, 1);
    color: white;
    padding: 5px;
    font-size: 40px;
    gap:10px;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    
}
li{
    list-style: none;
}
