*{
    padding: 0px;
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 100px;

   .contain{
    font-size: 10px;
    display: flex;
    gap: 20px;
    border: 1px solid black;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 10px;
    border-radius: 10px;
   }
    }