.container {
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 50px;
        justify-content: space-evenly;
        

        .card1 {
            background-color: rgb(1, 1, 1);
            color: rgb(228, 224, 224);
            text-align: justify;
            display: flex;
            gap: 10px;
            padding: 20px;
            margin-left: 30px;
            width: 300px;
            /* height: 50vh; */
            border-radius: 10px;
            /* background-color: black; */
            flex-direction: column;
            border: 1px solid black;

            h1,h2 {
                font-size: 20px;
                text-decoration: underline;
                text-transform: capitalize;
                text-align: center;
            }

            img {
                display: flex;

                height: 100px;
                width: 100px;
                margin-left: 29%;
                align-items: center;
            }

            p {      
                text-align: justify;
                font-family: cursive;
            }
        }